*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#07111f;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#091827;
    position:sticky;
    top:0;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#38bdf8;
}

.nav-links{
    display:flex;
    gap:35px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:0.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:60px;
}

.hero p{
    width:600px;
    max-width:90%;
    margin:30px auto;
    line-height:1.8;
}

button{
    padding:15px 30px;
    margin:10px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
}

.features{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
    padding:60px;
}

.card{
    background:#10233d;
    padding:30px;
    border-radius:15px;
}